<?xml version="1.0"?>
<configuration>
    <system.web>

    </system.web>
  <system.webServer>
    <handlers>
      <!--<add verb="*" path="*.css" preCondition="integratedMode" name="" type=".."/>-->
      <add verb="*" path="*.json" preCondition="integratedMode" name="AuthorizePagesPathHandlerAsyncHandler" type="KS.Core.Security.Handlers.AuthorizePagesPath.AuthorizePagesPathAsyncHandler"/>
    </handlers>
  </system.webServer>
</configuration>
