<?xml version="1.0"?>
<configuration>
    <system.web>
      <httpHandlers>
        <add verb="*" path="*.js"  name="AuthorizeScriptsDebugePathAsyncHandler" type="KS.Core.Security.Handlers.AuthorizeScriptsDebugePath.AuthorizeScriptsDebugePathAsyncHandler"/>
      </httpHandlers>
    </system.web>
  <system.webServer>
    <handlers>
      <!--<add verb="*" path="*.css" preCondition="integratedMode" name="" type=".."/>-->
      <add verb="*" path="*.js"  name="AuthorizeScriptsDebugePathAsyncHandler" type="KS.Core.Security.Handlers.AuthorizeScriptsDebugePath.AuthorizeScriptsDebugePathAsyncHandler"/>
    </handlers>
  </system.webServer>
</configuration>
