/****** Object:  Table [ContentManagement].[Links]    Script Date: 4/1/2018 11:26:37 PM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [ContentManagement].[Links](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Text] [nvarchar](255) NULL,
	[Html] [nvarchar](512) NULL,
	[Action] [nvarchar](255) NULL,
	[TypeId] [int] NOT NULL,
	[IconPath] [nvarchar](255) NULL,
	[IsLeaf] [bit] NOT NULL,
	[TransactionCode] [nvarchar](4) NULL,
	[Url] [nvarchar](1024) NULL,
	[Order] [int] NULL,
	[ParentId] [int] NULL,
	[ShowToSearchEngine] [bit] NOT NULL,
	[Language] [nvarchar](8) NULL,
	[CreateUserId] [int] NULL,
	[ModifieUserId] [int] NULL,
	[ViewCount] [int] NOT NULL,
	[ViewRoleId] [int] NULL,
	[ModifyRoleId] [int] NULL,
	[AccessRoleId] [int] NULL,
	[CreateLocalDateTime] [nvarchar](19) NULL,
	[ModifieLocalDateTime] [nvarchar](19) NULL,
	[AccessLocalDateTime] [nvarchar](19) NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[ModifieDateTime] [datetime] NOT NULL,
	[AccessDateTime] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[IsMobile] [bit] NOT NULL,
 CONSTRAINT [PK_ContentManagement.Links] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]


SET IDENTITY_INSERT [ContentManagement].[Links] ON 



SET IDENTITY_INSERT [ContentManagement].[Links] OFF
/****** Object:  Index [IX_CreateUserId]    Script Date: 4/1/2018 11:26:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_CreateUserId] ON [ContentManagement].[Links]
(
	[CreateUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

/****** Object:  Index [IX_ModifieUserId]    Script Date: 4/1/2018 11:26:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_ModifieUserId] ON [ContentManagement].[Links]
(
	[ModifieUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

/****** Object:  Index [IX_ParentId]    Script Date: 4/1/2018 11:26:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParentId] ON [ContentManagement].[Links]
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

ALTER TABLE [ContentManagement].[Links] ADD  DEFAULT ((0)) FOR [IsMobile]

ALTER TABLE [ContentManagement].[Links]  WITH CHECK ADD  CONSTRAINT [FK_ContentManagement.Links_ContentManagement.Links_ParentId] FOREIGN KEY([ParentId])
REFERENCES [ContentManagement].[Links] ([Id])

ALTER TABLE [ContentManagement].[Links] CHECK CONSTRAINT [FK_ContentManagement.Links_ContentManagement.Links_ParentId]

ALTER TABLE [ContentManagement].[Links]  WITH CHECK ADD  CONSTRAINT [FK_ContentManagement.Links_ContentManagement.Users_CreateUserId] FOREIGN KEY([CreateUserId])
REFERENCES [ContentManagement].[Users] ([Id])

ALTER TABLE [ContentManagement].[Links] CHECK CONSTRAINT [FK_ContentManagement.Links_ContentManagement.Users_CreateUserId]

ALTER TABLE [ContentManagement].[Links]  WITH CHECK ADD  CONSTRAINT [FK_ContentManagement.Links_ContentManagement.Users_ModifieUserId] FOREIGN KEY([ModifieUserId])
REFERENCES [ContentManagement].[Users] ([Id])

ALTER TABLE [ContentManagement].[Links] CHECK CONSTRAINT [FK_ContentManagement.Links_ContentManagement.Users_ModifieUserId]

