/****** Object:  Table [ContentManagement].[MasterDataLocalKeyValues]    Script Date: 2/26/2018 10:21:19 PM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [ContentManagement].[MasterDataLocalKeyValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MasterDataKeyValueId] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Language] [nvarchar](8) NULL,
	[CreateUserId] [int] NULL,
	[ModifieUserId] [int] NULL,
	[CreateLocalDateTime] [nvarchar](19) NULL,
	[ModifieLocalDateTime] [nvarchar](19) NULL,
	[AccessLocalDateTime] [nvarchar](19) NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[ModifieDateTime] [datetime] NOT NULL,
	[AccessDateTime] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[Description] [nvarchar](256) NULL,
 CONSTRAINT [PK_ContentManagement.MasterDataLocalKeyValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]


SET IDENTITY_INSERT [ContentManagement].[MasterDataLocalKeyValues] ON 

INSERT [ContentManagement].[MasterDataLocalKeyValues] ([Id], [MasterDataKeyValueId], [Name], [Language], [CreateUserId], [ModifieUserId], [CreateLocalDateTime], [ModifieLocalDateTime], [AccessLocalDateTime], [CreateDateTime], [ModifieDateTime], [AccessDateTime], [Status], [Description]) VALUES (1, 1, N'Services', N'en', 1, 1, N'1395/07/24 10:57:24', N'1396/02/07 02:34:44', N'1396/02/07 02:34:44', CAST(N'2016-10-15T10:57:24.847' AS DateTime), CAST(N'2017-04-27T10:04:44.597' AS DateTime), CAST(N'2017-04-27T10:04:44.597' AS DateTime), 1, N'')
INSERT [ContentManagement].[MasterDataLocalKeyValues] ([Id], [MasterDataKeyValueId], [Name], [Language], [CreateUserId], [ModifieUserId], [CreateLocalDateTime], [ModifieLocalDateTime], [AccessLocalDateTime], [CreateDateTime], [ModifieDateTime], [AccessDateTime], [Status], [Description]) VALUES (3, 3, N'Security Services', N'en', 1, 1, N'1395/07/24 10:57:24', N'1395/07/24 10:57:24', N'1395/07/24 10:57:24', CAST(N'2016-10-15T10:57:24.847' AS DateTime), CAST(N'2016-10-15T10:57:24.847' AS DateTime), CAST(N'2016-10-15T10:57:24.847' AS DateTime), 1, NULL)
INSERT [ContentManagement].[MasterDataLocalKeyValues] ([Id], [MasterDataKeyValueId], [Name], [Language], [CreateUserId], [ModifieUserId], [CreateLocalDateTime], [ModifieLocalDateTime], [AccessLocalDateTime], [CreateDateTime], [ModifieDateTime], [AccessDateTime], [Status], [Description]) VALUES (10, 10, N'CMS Services', N'en', 1, 1, N'1395/07/24 10:57:24', N'1395/07/24 10:57:24', N'1395/07/24 10:57:24', CAST(N'2016-10-15T10:57:24.847' AS DateTime), CAST(N'2016-10-15T10:57:24.847' AS DateTime), CAST(N'2016-10-15T10:57:24.847' AS DateTime), 1, NULL)










SET IDENTITY_INSERT [ContentManagement].[MasterDataLocalKeyValues] OFF
/****** Object:  Index [IX_CreateUserId]    Script Date: 2/26/2018 10:21:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_CreateUserId] ON [ContentManagement].[MasterDataLocalKeyValues]
(
	[CreateUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

/****** Object:  Index [IX_MasterDataKeyValueId]    Script Date: 2/26/2018 10:21:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_MasterDataKeyValueId] ON [ContentManagement].[MasterDataLocalKeyValues]
(
	[MasterDataKeyValueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

/****** Object:  Index [IX_ModifieUserId]    Script Date: 2/26/2018 10:21:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_ModifieUserId] ON [ContentManagement].[MasterDataLocalKeyValues]
(
	[ModifieUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

ALTER TABLE [ContentManagement].[MasterDataLocalKeyValues]  WITH CHECK ADD  CONSTRAINT [FK_ContentManagement.MasterDataLocalKeyValues_ContentManagement.MasterDataKeyValues_MasterDataKeyValueId] FOREIGN KEY([MasterDataKeyValueId])
REFERENCES [ContentManagement].[MasterDataKeyValues] ([Id])
ON DELETE CASCADE

ALTER TABLE [ContentManagement].[MasterDataLocalKeyValues] CHECK CONSTRAINT [FK_ContentManagement.MasterDataLocalKeyValues_ContentManagement.MasterDataKeyValues_MasterDataKeyValueId]

ALTER TABLE [ContentManagement].[MasterDataLocalKeyValues]  WITH CHECK ADD  CONSTRAINT [FK_ContentManagement.MasterDataLocalKeyValues_ContentManagement.Users_CreateUserId] FOREIGN KEY([CreateUserId])
REFERENCES [ContentManagement].[Users] ([Id])

ALTER TABLE [ContentManagement].[MasterDataLocalKeyValues] CHECK CONSTRAINT [FK_ContentManagement.MasterDataLocalKeyValues_ContentManagement.Users_CreateUserId]

ALTER TABLE [ContentManagement].[MasterDataLocalKeyValues]  WITH CHECK ADD  CONSTRAINT [FK_ContentManagement.MasterDataLocalKeyValues_ContentManagement.Users_ModifieUserId] FOREIGN KEY([ModifieUserId])
REFERENCES [ContentManagement].[Users] ([Id])

ALTER TABLE [ContentManagement].[MasterDataLocalKeyValues] CHECK CONSTRAINT [FK_ContentManagement.MasterDataLocalKeyValues_ContentManagement.Users_ModifieUserId]

