
/*#region asValidator*/
    div.as-validate-error {
        background-color: #dc143c;
        border: 1px solid #dc143c;
    }
        label.as-validate-error {
        color: #dc143c;
    }
/*#endregion asValidator*/